<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.BookDao">
    <select id="selectByName" resultType="com.example.demo.entity.BookEntity">
        SELECT b.* FROM book b WHERE b.name = #{name}
    </select>
    <select id="getByPrice" resultType="com.example.demo.entity.BookEntity" parameterType="double">
        SELECT b.* FROM book b WHERE b.price &lt;= #{price}
    </select>
    <insert id="addBook" parameterType="com.example.demo.entity.BookEntity">
        INSERT INTO book VALUES (null,#{book.name},#{book.author},#{book.publisher},#{book.price},#{book.quantity},#{book.creator},null,#{book.updater},#{book.updateTime})
    </insert>
</mapper>